html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ###################### Register and Login ####################### */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: azure;
}

.container .card {
  background-color: white;
  display: flex;
  gap: 20px;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px 60px;
}

.container .card .title {
  color: blue;
}

.container .card .form-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.container .card .form-container input {
  border: none;
  border-bottom: solid blue 1px;
  padding: 10px;
}
.container .card .form-container .image {
  display: none;
}

.container .card .form-container label img {
  width: 50px;
}

.container .card .form-container label {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.container .card .form-container button {
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 10px;
}

/* ###################### Main ####################### */
.main {
  height: 100dvh;
  display: flex;
}

.main .sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  overflow: hidden;
  height: 100%;
}

.main .sidebar .top {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  padding: 10px;
  color: white;
  align-items: center;
}

.main .sidebar .top .user {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-left: auto;
}

.main .sidebar .top .title {
  font-weight: bold;
}

.main .sidebar .top .user .logoutButton {
  background-color: lightblue;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.main .sidebar .top .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.main .sidebar .search {
  width: 100%;
  box-sizing: border-box;
}

.main .sidebar .search input {
  width: 100%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  background-color: azure;
  outline: none;
}

.main .sidebar .search .result {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: solid white 1px;
}

.main .sidebar .search .result:hover {
  background-color: blue;
}

.main .sidebar .search .result img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.main .sidebar .search .result .userName {
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.main .sidebar .rooms:hover {
  overflow-y: scroll;
}

.main .sidebar .rooms {
  flex: 1;
}

.main .sidebar .rooms .chat {
  display: flex;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.main .sidebar .rooms .chat:hover {
  background-color: blue;
}

.main .sidebar .rooms .chat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.main .sidebar .rooms .chat .userName {
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.main .sidebar .rooms .chat .last-message {
  color: darkgray;
  font-size: 15px;
  margin: 0;
}

.main .chatMessages {
  flex: 3;
  position: relative;
  display: flex;
  flex-direction: column;
}

.main .chatMessages .chatTop{
  display: flex;
  justify-content: space-between;
  background-color: #5489de;
  padding: 10px;
  color: white;
  align-items: center;
  height: 30px;
}

.main .chatMessages .Input {
  display: flex;
  width: 100%;
  flex: 0 50px;
  justify-content: center;
  align-items: center;
  background-color: #5489de;
  /* height: 50px; */
}

.main .chatMessages .Input .messageInput{
  flex: 1;
  padding: 5px 10px;
  margin: 5px;
  margin-right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
}

.main .chatMessages .Input .send{
  width: 50px;
  padding: 5px 10px;
  margin: 5px;
  color: white;
  background-color: blue;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  margin-left: 0;
}

.main .chatMessages .messages{
  padding: 10px 20px;
  background-color: #dae0eb;
  flex: 1;
  overflow: hidden;
}

.main .chatMessages .messages:hover{
  overflow-y: scroll;
}

.main .chatMessages .messages .message{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;  
}

.main .chatMessages .messages .owner{
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  margin-bottom: 10px;  
}

.main .chatMessages .messages .message .messageInfo{
  display: flex;
  flex-direction: column;
}

.main .chatMessages .messages .message .messageInfo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.main .chatMessages .messages .message .messageInfo span{
  color: white;
  font-weight: 300;
}

.main .chatMessages .messages .message .messageContent{
  background-color: lightblue;
  max-width: 80%;
  border: none;
  border-radius: 0px 25px 25px 25px;
  padding: 10px 20px;
  height:fit-content;
}

.main .chatMessages .messages .message.owner .messageContent{
  background-color: white;
  max-width: 300px;
  border: none;
  border-radius: 25px 0px 25px 25px;
  padding: 10px 20px;
  height:fit-content;
}


/* ####################Responsive#################### */

@media screen and (max-width:480px) {


  .main .sidebar .top .title {
    display: none;
  }
  
  /* .main .sidebar .top .user .logoutButton {
    position: absolute;
    right: 10px;
    z-index: 2;
    background-color: blue;
  } */
  
  .main .sidebar .top .user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .main {
    display: block;
    position: relative;
    max-width: 100%;
  }

  .main .chatMessages {
    /* flex: 1; */
    height: 100dvh;
  }
  
  .main .sidebar{
    /* flex:2; */
    /* min-width: 150px; */
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 1;
  }

  .main .sidebar .rooms .chat img {
    width: 35px;
    height: 35px;
  }
  
  .main .sidebar .search .result img {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width:720px) {
  .main .chatMessages {
    flex: 2;
  }
  
  .main .sidebar{
    flex:1;
  }
}

@media screen and (max-width:1200px){

  .main .sidebar .top .title {
    display: none;
  }

}