/* ###################### Register and Login ####################### */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: azure;
}

.container .card {
  background-color: white;
  display: flex;
  gap: 20px;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px 60px;
}

.container .card .title {
  color: blue;
}

.container .card .form-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.container .card .form-container input {
  border: none;
  border-bottom: solid blue 1px;
  padding: 10px;
}
.container .card .form-container .image {
  display: none;
}

.container .card .form-container label img {
  width: 50px;
}

.container .card .form-container label {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.container .card .form-container button {
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 10px;
}

/* ###################### Main ####################### */
.main {
  height: 100vh;
  display: flex;
}

.main .sidebar {
  flex: 1;
  background-color: lightblue;
}

.main .sidebar .top {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  padding: 10px;
  color: white;
  align-items: center;
}

.main .sidebar .top .user {
  display: flex;
  gap: 5px;
  align-items: center;
}

.main .sidebar .top .title {
  font-weight: bold;
}

.main .sidebar .top .user button {
  background-color: lightblue;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.main .sidebar .top .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.main .chat {
  flex: 2;
}
