.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: azure;
}

.container .card {
  background-color: white;
  display: flex;
  gap: 20px;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px 60px;
}

.title {
  color: blue;
}

.container .card .form-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.container .card .form-container input {
  border: none;
  border-bottom: solid blue 1px;
  padding: 10px;
}
.container .card .form-container .image {
  display: none;
}

.container .card .form-container label img {
  width: 50px;
}

.container .card .form-container label {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.container .card .form-container button {
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 10px;
}